// Typography
$font-family: 'Hind', sans-serif;

// Colors
$primary-color: #da0037;
$text-color: #ededed;
$gray-color: #444444;
$dark-color: #171717;

$black-color: #000;
$white-color: #fff;

$box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);

// Spacings
$header-height: 8rem;
$header-height-shrink: 5rem;

// Media Breakpoints
$mobile-width: 768px;
$tablet-width: 1024px;
